{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock%}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<div class="wrapper-view" >
  
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
      <!-- Login form -->
      {{wtf.quick_form(login_form)}}
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Register account here</a></p>
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>
{% endblock %}