{% extends 'bootstrap/base.html'%}

{% block styles %}
{{ super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Mukta' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Shadows Into Light Two' rel='stylesheet'>
<!-- Importing the simple mde css and js files -->
{{ simplemde.css }}
{{ simplemde.js }}
{% endblock %}

{% block navbar%}
    {% include 'navbar.html' %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}