{% extends 'base.html'%} 
{% block content %}
<div class="container-fluid welcome-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 welcome">
                <h1>PITCH PERFECT</h1>
                <h2>One Minute Pitch Moment!</h2>
                {% if current_user.is_authenticated%}
                <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('main.home')}}">View Pitches</a>
                {% else %}
                <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('auth.login')}}">Sign In</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}