<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    {% if current_user.is_authenticated%}
    <a class="navbar-brand" href="/home">Pitch-perfect</a>
    {% else %}
    <a class="navbar-brand" href="/">Pitch_Perfect-</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">Pitch</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/category/Interview-Pitch">Interview Pitch</a>
                    <a class="dropdown-item" href="/category/Product-Pitch">Product Pitch</a>
                    <a class="dropdown-item" href="/category/Promotion-Pitch">Promotion Pitch</a>
                    <a class="dropdown-item" href="/category/Business">Business</a>
                    <a class="dropdown-item" href="/category/Academic">Academic</a>
                    <a class="dropdown-item" href="/category/Political">Political</a>
                    <a class="dropdown-item" href="/category/Technology">Technology</a>
                    <a class="dropdown-item" href="/category/Health">Health</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('main.profile', uname = current_user.username, id_user = current_user.id)}}">{{current_user.username|capitalize}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.profile', uname = current_user.username, id_user = current_user.id)}}">{{current_user.username|capitalize}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">
                    <i class="fa fa-sign-out"></i> Sign out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">
                    <i class="fa fa-sign-in"></i> Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.register')}}">
                    <i class="fa fa-user-plus"></i> Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>